# .github/workflows/main.yml

name: Trigger Netlify Build
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/5e5a526253bf644a70a3bb95
